* {
    alt:unset;
    display:revert;
}
/* Reset all browser standard setup */
.navbar {
    color: rgb(242, 241, 239);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;

}    
.nav-list {
    list-style: none;
}   
.list-item {
    display:inline-block;
    padding: 20px 60px;
} 





h1 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(244, 208, 63);
    font-size: 40px;
    font-style:normal;
    text-transform: uppercase;
    letter-spacing:5px; 
    line-height:20px;
    }

h2 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(242, 241, 239);
    font-size: 40px;
    font-style: normal;
    letter-spacing:5px; 
    line-height:50px;
    }
h3 {
    font-family: 'Montserrat', sans-serif;
    color:  rgb(242, 241, 239);
    font-size: 25px;
    font-style: normal;
    letter-spacing:5px; 
    line-height:20px;
    }
 
p   {
    font-family: 'Roboto', sans-serif;
    color: rgb(219, 226, 230);
    font-size: 20px;
    font-style: normal;
    letter-spacing:5px ; 
    line-height:25px;
    }
.p2 {
    font-family: 'Roboto', sans-serif;
    color: rgb(244, 208, 63);
    font-size: 25px;
    font-style: normal;
    letter-spacing:5px; 
    line-height:20px;
}    
.p3 {
    font-family: 'Roboto', sans-serif;
    color: rgb(219, 226, 230);
    font-size: 25px;
    font-style: normal;
    letter-spacing:5px ; 
    line-height:25px;
}

header {
   

}
body {
    background-image: url("images/Logo1big.png");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed, scroll;
    background-repeat: no-repeat, repeat-y;
    scroll-behavior: smooth;
    max-width: 100%;
    min-height: auto;
    background-color: rgb(33, 30, 57);
    color: rgb(219, 226, 230);
}

section {
    padding: 300px 0;
    margin-left: 10%;
    margin-right: 10%;
}
footer







.container-frontpage {
    margin-inline: auto;
    width: min(90%, 70,5rem);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 15%;

}   

.container {
    margin-inline: auto;
    width: min(90%, 70,5rem);
}

.split {
    display: flex;
    flex-direction: column;
}


@media (min-width: 40em){
    .split {flex-direction: row;}

    .split > *{
        flex-basis: 100%;}
    
    .split >* + * {
        margin-left: 1em;
        }
    .container-frontpage {}
}
