* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Reset all browser standard setup */
     

nav {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding-top: 20px;
    padding-left:10%;
    padding-right: 10%;
}
.logo {
    display: block;
    max-width: 100%; 
}
nav ul li {
    list-style-type:none;
    display: inline-block;
    padding: 10px 20px;
    width: fit-content;
}
nav ul li a {
    color: #FEFEFE;
    font-family:'Montserrat', sans-serif; 
    text-decoration: none;
    font-size: 25px; 
    font-weight: 100;  
}
nav ul li a:hover{
    color:#F4D03F;
    transition: .3s;
}
@media all and (max-width: 480px) {
    nav {
        flex-direction: column;
    }
    .menu {
        display: block; 
    }
    nav ul li {
        list-style-type: none;
        display: block;
        padding: 10px 20px;
        border-top: 1px solid white;
        width: 100%;
        text-align: center;
   }
}




.flex-wrapper1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;   
}

.flex-child1 {
    flex: 30%;
   
}
.flex-child1 a {
    display: inline-block;
    padding: 10px 20px;
    width: fit-content;
}

.flex-wrapper2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    

}
.flex-child2 {
    flex-basis: 30%;
    margin-bottom: 50px;
    
}

.headline-projects {
    display:inline; 
    float:right;  
}


.spaceholder {
    width: 450px;
    height: 450px;
    border: 15px solid green;
    padding: 50px;  
}

    

.position-text {
    position:relative;
    top: 300px;
    
}   

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #F4D03F;
    font-size: 40px;
    font-style:normal;
    text-transform: uppercase;
    letter-spacing:5px; 
    line-height:20px;
    }

h2 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(242, 241, 239);
    font-size: 40px;
    font-style: normal;
    letter-spacing:5px; 
    line-height:50px;
    }
h3 {
    font-family: 'Montserrat', sans-serif;
    color:  rgb(242, 241, 239);
    font-size: 25px;
    font-style: normal;
    letter-spacing:5px; 
    line-height:20px;
    }
.text-center {
    text-align: center;
}

img {
    display: block;
    max-width: 100%;
}

p   {
    font-family: 'Roboto', sans-serif;
    color: rgb(219, 226, 230);
    font-size: 20px;
    font-style: normal;
    letter-spacing:5px ; 
    line-height:25px;
    }
.p2 {
    font-family: 'Roboto', sans-serif;
    color: #F4D03F;
    font-size: 25px;
    font-style: normal;
    letter-spacing:5px; 
    line-height:20px;
}    
.p3 {
    font-family: 'Roboto', sans-serif;
    color: rgb(219, 226, 230);
    font-size: 25px;
    font-style: normal;
    letter-spacing:5px ; 
    line-height:25px;
}

header {
   

}
body {
    background-image: url("images/Logo1big.png");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed, scroll;
    background-repeat: no-repeat, repeat-y;
    scroll-behavior: smooth;
    max-width: 100%;
    min-height: auto;
    background-color: rgb(33, 30, 57);
    color: rgb(219, 226, 230);
}

section {
    padding: 15rem 0;
    margin-left: 10%;
    margin-right: 10%;
}
p a{
    color: #59ABE3;
} 

p a:hover {
    color: #59ABE3;
    text-decoration: underline;
}

footer {
    background: #1F1C33;
    background-size: 100%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 52px;
    
}
.footer-container {

}
footer p a {
    text-decoration: none;
}

.split1 {
    display: flex;
    
    justify-content: space-between;

}



.container {
    min-height: 250px 0;
    margin-inline: auto;
    width: min(90%, 70,5rem);
    
}

.split {
    display: flex;
    flex-direction: column;
}


@media (min-width: 40em){
    .split {flex-direction: row;}

    .split > *{
        flex-basis: 100%;}
    
    .split >* + * {
        margin-left: 1em;
        }
}

